.field-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(30px);
  box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.253);

  .button {
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
  }
}

.field-box {
  border-radius: 0.8rem;
  padding: 0.5rem;
  background-color: white;
  width: 380px;
  position: relative;
  .field-name {
    position: absolute;
    border-radius: 0.5rem;
    top: -20%;
    left: 0;
    padding: 0.5rem 0.5rem;
    background-color: white;
  }

  input {
    border: none;
    padding: 1rem;
    font-size: 18px;
    width: 275px;
    outline: none;
    &[type="number"]::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(45deg, red, blue);
  .login-toggle {
    position: relative;
    top: 2%;
    border-radius: 0.8rem;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
  }
}
.confirm-password-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0;
  border-radius: 0.8rem;
  input {
    border-bottom: 1px solid red;
    width: 100%;
  }
  &.matched input {
    border-bottom: none;
  }
}

.password-box {
  display: flex;
  align-items: center;
  width: 100%;
  input {
    width: 100%;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/eye.png");
    width: 34px;
    height: 34px;
    padding: 0.2rem;
    border-radius: 0.5rem;
    transition: 0.1s;
    &.hide {
      background-image: url("/eye_close.png");
    }
  }
}
