* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box {
  border-radius: 0.4rem;
  border: 1px solid red;
  padding: 1rem;
}
.debug {
  border: 1px solid red;
}
button {
  border: none;
  outline: none;
  scale: 1;
  transition: 0.2s;
}
button:active {
  scale: 0.9;
}
body {
  /* background: url("https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background-repeat: no-repeat;
  background-size: 100%;
}
