@mixin box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px rgba(182, 182, 182, 0.514);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: topFadeIn .5s ease-in forwards;
}
.loading-container {
    @include box;
    background-color: rgb(73, 243, 243);
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    span {
        position: relative;
        border: 3px solid black;
        border-radius: 50px;
        margin: 0 0.1rem;
        animation: pop 1s ease-in-out infinite;
        transition: 0.4s;
        top: 8%;
        left: 2px;
    }
    span:nth-child(2) {
        animation-delay: 0.2s;
    }
    span:nth-child(3) {
        animation-delay: 0.3s;
    }
}
@keyframes pop {
    0% {
        scale: 0.2;
    }
    50% {
        scale: 0.9;
    }
    100% {
        scale: 0.2;
    }
}
.error-container {
    @include box;
    font-size: large;
    font-weight: 800;
    border: 1px solid rgb(253, 243, 243);
    color: red;
    column-gap: 1rem;

    .icon {
        border-radius: 0.5rem;
        text-align: center;
        font-size: 14px;
    }
}

.success-container {
    @include box;
    background-color: rgba(147, 236, 170, 0.603);
    column-gap: 1rem;
    .icon {
        background-image: url("/public/success.png");
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;
    }
}

@keyframes topFadeIn {
    0% {
        top: 60%;
        opacity: .1;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}
