.container {
    background-color: rgba(238, 238, 238, 0.541);
    border-radius: 1rem;
    align-items: center;
    margin: 0.5rem 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 300px));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    .box {
        min-width: 250px;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
